@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&family=Mooli&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(229, 246, 247);
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
header h2{
  font-size: 2rem;
  letter-spacing: 2px;
}
.underline{
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(76, 0, 255);
  }

